[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
httpsig = "*"
django = "*"
django-widget-tweaks = "*"
pillow = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
requests = "*"
