{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}
            Club Eleven
            {% endblock %}</title>
        <link rel="stylesheet"
              href="{% static 'css/bulma.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'css/fork-awesome.min.css' %}">
        {% block page_scripts %}
        {% endblock %}
        <link rel="icon" href="{% static "images/brutaldon.png" %}" type="image/png">
    </head>
    <body ic-global-include='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
        {% block navbar %}
        <nav class="navbar is-primary" role="navigation"
             aria-label="main navigation" id="main-nav-bar">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static "images/brutaldon.png" %}"
                         class="image is-32x32" alt="ClubEleven">
                </a>
            </div>
        </nav>
        {% endblock %}

        <section id="main" class="section">
            <div class="container">
                {% block content %}
                <h1 class="title">
                    Club Eleven
                </h1>
                <p class="subtitle">
                    Club Eleven  is totally a thing.
                </p>
                {% endblock %}
            </div>
        </section>

        <footer class="footer">
            <div class="level">
                <div class="level-left">
                    <a class="level-item is-size-7" href="https://github.com/jfmcbrayer/clubeleven">
                        Source
                    </a>
                </div>
            </div>
        </footer>

    </body>
</html>
